OS_ADMIN_PASSWORD=${VAULT_OPENSEARCH_ADMIN}
VECTOR_OS_PASSWORD=${VAULT_VECTOR_OS_PASSWORD}
API_OS_PASSWORD=${VAULT_API_OS_PASSWORD}
THEHIVE_ADMIN_PASSWORD=${VAULT_THEHIVE_ADMIN_PASSWORD}
SLACK_WEBHOOK_INFRA=${VAULT_SLACK_WEBHOOK_INFRA}
FORTIGATE_TZ_OFFSET=+05:30
